/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
    --bg1: #F0EBE3;
    --bg2: #E4DCCF;
    --content1: #7D9D9C;
    --content2: #576F72;
    --content3: #3F4E4F;
    --content4: #2C3639;
    --content5: #DCD7C9;
}

a:link {
    color: black;
}

a:hover {
    color: var(--content3);
}

a:active {
    color: var(--content3);
}

a:visited {
    color: black;
}

body {
    background: var(--bg2);
}

.siteheader-box {
    
    /* Start debug stuff 
    
    border-style: dashed;
    border-color: red;
    border-width: 2px;
    border-radius: 3px;
    
    background-color: var(--primary);
    
     End debug stuff */
    
    background-color: var(--bg1);
    position: fixed;
    display: table;
    z-index: 3;
    justify-content: center;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    height: 10em;
    
    box-shadow: 0px 4px 8px black;
}

.contact-info-box {
    
    /* Start debug stuff
    
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    
    End debug stuff */
    
    position: fixed;
    display: table;
    z-index: 4;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--analog1);
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: auto;
    height: 15%;
    right: 0;
    overflow-wrap: break-word;
}

.contact-info-box-mobile {
    display: none;
    visibility: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--analog1);
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: auto;
    height: 15%;
}

.contact-info-table {
    display: table-cell;
    vertical-align: middle;
}

.contact-info-cell {
    text-align: left;
    padding: 0.4em;
}

.navbar-box {
    
    /* Start debug stuff
    
    border-style: dashed;
    border-color: darkgreen;
    border-width: 2px;
    border-radius: 3px;
    
    background-color: aquamarine;
    
    End debug stuff */
    
    background-color: var(--content4);
    display: table;
    vertical-align: middle;
    text-align: left;
    position: fixed;
    z-index: 2;
    justify-content: center;
    width: 10%;
    height: 85%;
    top: 10em;  
    
    box-shadow: 2px 2px 5px black;
}

.nav-table {
    display: table;
    vertical-align: middle;
    align-content: center;
    width: 90%;
    margin-right: auto;
    margin-top: 5%;
}

.nav-link {
    display: table-cell;
    vertical-align: middle;
    padding: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: var(--bg2);
}

#nav-selected {
    background: var(--content2);
}

.nav-link a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: var(--bg2);
}

.content-text-box {
    
    /* Start debug stuff 
    
    border-style: dashed;
    border-color: blue;
    border-width: 2px;
    border-radius: 3px;
    
    background-color: lightblue;
    
     End debug stuff */
    
    background-color: var(--bg2);
    position: absolute;
    z-index: 0;
    width: 70%;
    height: auto;
    padding-bottom: 10%;
    top: 15%;
    left: 10%;
}

.content-media-box {
   /* Start debug stuff 
    
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    
    background-color: gray;
    
     End debug stuff */
    
   background-color: var(--content3);
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 100%;
    top: 15%;
    left: 80%;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
}

.content-media-bg {
   /* Start debug stuff 
    
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    
    background-color: gray;
    
     End debug stuff */
    
   background-color: var(--content3);
    position: fixed;
    z-index: 0;
    width: 20%;
    height: 85%;
    top: 15%;
    left: 80%;
    
    box-shadow: -3px 2px 5px black;
}

.siteheadertable {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2%;
}

.siteheader{
  display: table-cell;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 3em; 
  line-height: 1.58;
  letter-spacing: .2em;
  color: var(--complementary);
}

.sitesubheader {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .03em;
  color: var(--analog2);
}

.content-header {
    color: var(--content3);
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 1em;
    padding-left: 2em;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.58;
    letter-spacing: .2em;
}

.content-text {
    color: var(--content3);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 3.5em;
    padding-right: 4em;
    line-height: 1.8;
}

.example {
    align-self: center;
    margin-left: 5%;
    margin-bottom: 50px;
    width: 90%;
    height: 500px;
}

.poloroid a {
    background: var(--bg1);
    display: inline-block;
    padding: 15px 15px 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: all .20s linear;
    z-index: 2;
    position: relative;
}

.poloroid img {
    display: block;
    max-width: 95%;
    height: auto;
    margin: auto;
}

.poloroid p {
    font-family: 'Source Sans Pro', sans-serif;
}

.education-box {
    margin: 20px 2.5% 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--content4);
    color: var(--bg1);
    border-radius: 5px;
}

.education-box h2 {
    font-size: 1.3em;
    margin-left: 10px;
    color: var(--bg1);
}

.education-box p {
    font-size: 0.9em;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--bg1);
}

.rig-list {
    margin: 10px 5% 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--content4);
    color: var(--bg1);
    border-radius: 5px;
    
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em; 
}

.rig-sublist {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media all and (min-width:0px) and (max-width: 780px) {
    .siteheader-box {
        height: 15%;
    }
    .siteheader {
        font-size: 2em;
    }
    .sitesubheader {
        font-size: 0.67em;
    }
    .contact-info-box {
        display: none;
    }
    .contact-info-box-mobile {
        display: table;
    }
    .content-media-bg {
        display: none;
    }
    .content-media-box {
        display: none;
    }
    .navbar-box {
        width: 10%;
        padding-right: 2%;
    }
    .nav-link {
        font-size: 0.75em;
        padding-top: 15%;
    }
    .content-text-box {        
        background-color: var(--bg2);
        position: absolute;
        z-index: 0;
        width: auto;
        height: auto;
        padding-bottom: 10%;
        top: 15%;
        left: 20%;
    }
    .content-text {
        font-size: 0.9em;
    }
    .content-header {
        font-size: 1em;
    }
    .education-box {
        margin: 10% 2.5% 20%;
        padding-top: 10px;
        padding-bottom: 10px;
        background: var(--content4);
        color: var(--bg1);
        border-radius: 5px;
    }
    .education-box h2 {
        font-size: 1em;
    }
    
    /*
    .contact-info-box {
    
    /* Start debug stuff
    
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    
    End debug stuff */
    /*
    position: fixed;
    display: table;
    z-index: 4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75em;
    color: var(--analog1);
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 50%;
    height: 15%;
    right: 0;
    overflow-wrap: break-word;
    }

    .contact-info-table {
        display: table-cell;
        vertical-align: middle;
    }

    .contact-info-cell {
        text-align: left;
        padding: 0.4em;
    }
    */
}
